*{
  margin: 0;
  padding: 0;
}

.app_con{
  /* background-image: url("https://solarsystem.nasa.gov/system/feature_items/images/69_earth_carousel_3.jpg"); */
  background-size: cover;
  height: 100vh;
}

.App{
  display: flex;
  flex-direction: column;
}

video {
  object-fit: cover;
  width: 100%;
  height: 766px;
  position: fixed;
  z-index: -1;
}


h1{
  color: aliceblue;
  text-align: center;
  padding-top: 40px;
  font-size: 3em;
}

.p{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 9px;
  padding-right: 5px;
  color: rgba(254, 255, 255);
  font-size:22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 25px;
  display: inline;
  margin-top: 25px;
}

